In [1]:
import pandas as pd
import os
import data.data_load as data_load

2025-12-13 15:16:34.900 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [2]:
import data.sqlite_reader as sq

In [4]:
a = sq.get_all_params()

In [9]:
type(a)

list

In [19]:
a[0][0]

'["ADRAK DEVELOPERS LLC", "AL ADRAK TRADING AND CONTRACTING COMPANY LLC"]'

In [20]:
import json

companies_tuple = tuple(json.loads(a[0][0]))
codes_tuple = tuple(json.loads(a[0][1]))

In [ ]:
companies_tuple

tuple

In [1]:
username='admin'
import data.sqlqueries as sq
import data.sqlreader as sr
sr.fetch_sql_data(f"SELECT * FROM dashboard_access WHERE username = '{username}'")

  USERNAME DASHBOARDACCESS SUPERUSER SALES FINANCE PURCHASE HR
0    admin               T         T     T       T        T  T